{% extends 'base.html' %}


{% block content %}  

    {% for section in sections %}
        {% if section.section_title  %}
            {% if forloop.counter0 > 0  %}
                </Section>
            {% endif %}
            <section class="section" id="section_{{forloop.counter0}}"> 
            <h1> {{ section.section_title }} </h1>
        {% endif %}
        {% if section.text  %}
            <p>{{ section.text }} </p>
        {% endif %}
        {% if section.image  %}
        <img size="50% 50%"src="{{ section.image.url}} ">
        {% endif %}
    {% endfor %}
{% endblock content %}